<% provide(:title, 'Help') %>
<div class = "container">

	<div class = "jumbotron text-center" >
	
		<h1>Hi! Do You Need Help?</h1>
	
	</div>

	<div class = "container">

		<h2>This is Our Help Page</h2>
		<p>Not sure how we can help, but we will if we can!</p>
		<p>With test branch update</p>

	</div>

</div>