<div class = "container">

	<div class = "jumbotron text-center" >

		<h1>Hello, World!</h1>
		<h2>This is Our Home Page.</h2>
		<p>Sign in to see your tasks, and others!</p>
		<p><i>The journey of a thousand miles begin with one line of code. - Lao Tzu(modified)</i></p>

	</div>

</div>